{% extends 'shop/basic.html' %}
{% block title %}Cart{% endblock %}
{% load static %}
{% block body %}
<section class="container content-section">
    <h2 class="section-header">CART</h2>
    <div class="cart-row">
        <span class="cart-item cart-header cart-column">PRODUCT</span>
        <span class="cart-price cart-header cart-column">PRICE</span>
        <span class="cart-quantity cart-header cart-column">QUANTITY</span>
    </div>
    <form action="/shop/cart" method='POST'>{% csrf_token %}
    {% if user.is_authenticated %}
    <input type='hidden' id='cartdata' name='cartjson' value='{{cart}}'>
    {% endif %}
    <div class="cart-items">
    </div>
    <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">₹0</span>
    </div>
    </form>
    <a href="/shop/checkout"><button type="button" class="btn btn-primary"> PURCHASE </button></a>
</section>
{% endblock %}
{% block js %}
<script src="{% static 'shop/JS/cart.js'%}"></script>  
{% endblock %}