{% extends 'shop/basic.html' %}
{% block title %}{{prods.0.0.sub_category}}{% endblock %}
{% block body %}
<style>
  .btn-abcd
  {
    background-color: white;
  }
</style>
<div class="container my-4">

{% for product, nitem in prods %}
<div class="container">
<div class="row">
  <div class="title-box my-4 container">
    
<h2>{{product.0.sub_category}}</h2>
  </div>

{% for prod in product %}
    <div class="col-md-3">
      <div class="shop-item">
        <div class="container">
        <span class="shop-item-title">{{prod.product_name}}</span>
        <a href="/shop/prodview{{prod.id}}">
        <img class="shop-item-image" src="/media/{{prod.image}}">
      </a>
        <div class="shop-item-details">
          <br>
            <span class="shop-item-price">₹{{prod.price}}</span>
            <br>
            <span class="shop-item-disc">{{prod.desc|slice:"0:50"}}</span>
            <br>
            <button  class="btn btn-primary btn-abcd" type="button"> <a href="/shop/prodview{{prod.id}}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
            </svg></a></button>
        </div>
        </div>
    </div>
    
  </div>
  {% endfor %}

  </div>
</div>
  {% endfor %}
  
</div>
{% endblock %}