{% extends 'shop/basic.html' %}
{% load static %}
{% block title %}Shoppers Stop{% endblock %}


{% block body %}
<style>
  .carousel-indicators .active {
    background-color: grey;
  }

  body .carousel-indicator li {
    background-color: blue;
  }

  body .carousel-indicators {
    bottom: 0;
  }

  body .carousel-control-prev-icon,
  body .carousel-control-next-icon {
    background-color:grey;
  }

  .carousel-control-next {
   right: -50px;
  }

  .carousel-control-prev {
    left: -50px;
   
  }

  body .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
  
  .container h1
   {
       
       text-align: center;
       margin-top: 20px;
   }
   .card-body p
   {
      
       color:black;
       text-align: center;
   }
   .card img{
     transition: 1s;
     width: 140px;
     height: 90px;
   }
   .card img:hover
   {
     transform: scale(1.1);
   }
.card-text
{
  font-size: 14px;
}
.nav-item
{
  border:green;
}
/* t .carousel-control-next,
t .carousel-control-prev{
    bottom:160px;
} */
</style>

<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <ul style="list-style-type:none;">
        <div class="container row">
          {% for category in categories %}
          <li class="nav-item col-2">
            <a class="nav-link" href="category{{category.id}}"><div class="card" style="width: 9rem;">
              <img src="/media/{{category.image}}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">{{category.category}}</p>
              </div>
            </div>
          </a>
          </li>
          {% if forloop.counter|divisibleby:6 and forloop.counter > 0 and not forloop.last %}
        </div>
      </ul>
      </div>
      <div class="carousel-item">
        <ul style="list-style-type:none;">
          <div class="container row">
        {% endif %}
        {% if forloop.last %}
        </div>
        </ul>
        {% endif %}
        {% endfor %}
    </div>
  </div>
  <t>
  <button class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</t>
</div>


<section class="header">
  <div class="side-menu" id="side-menu">
    

  </div>
  <section class="featured-categories">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <img src="{% static 'shop/img/img5.jpg' %}">
        </div>
        <div class="col-md-4">
          <img src="{% static 'shop/img/img6.jpg' %}">
        </div>
        <div class="col-md-4">
          <img src="{% static 'shop/img/img7.jpg' %}">
        </div>
      </div>
    </div>
  </section>
  <section class="on-sale">
    <div class="container">
      <div class="title-box">
        <h2>ON SALE</h2>
      </div>

      <div class="container">
        {% for product,nslides, range in allprods %}
        <h1>{{product.0.category}}</h1>
        <div class="row">
          <div id="demo{{forloop.counter}}" class="col carousel slide my-3" data-ride="carousel">
            <ul class="carousel-indicators">
              <li data-target="#demo{{forloop.counter}}" data-slide-to="0" class="active"></li>
              {% for i in range %}
              <li data-target="#demo{{forloop.parentloop.counter}}" data-slide-to="{{i}}"></li>
              {% endfor %}
            </ul>
            <div class="container carousel-inner no-padding">
              <div class="carousel-item active">
                <div class="row">
                {% for i in product|slice:"0:" %}
                  <div class="col-md-3">
                    <div class="shop-item">
                      <a href="/shop/prodview{{i.id}}" target="_blank">
                        <img class="shop-item-image" src="/media/{{i.image}}">
                      </a>
                      <div class="shop-item-details">
                        <span class="shop-item-title">{{i.product_name}}</span>
                        <br>
                        <span class="shop-item-price"><b>price - </b>₹{{i.price}}</span>
                        <br>
                        <button id="pr{{i.id}}" class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                      </div>
                    </div>
                  </div>
                  {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                {% endif %}
                {% endfor %}
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" href="#demo{{forloop.counter}}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          </button>
          <button class="carousel-control-next" href="#demo{{forloop.counter}}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          </button>
        </div>
        {% endfor %}
      </div>
  </section>
  <br>
  <hr>
  <br>
  <section class="website-featured">
    <div class="container">
      <div class="row">
        <div class="col-md-3 featured-box">
          <img src="{% static 'shop/img/imgp1.png' %}">
          <div class="featured-text">
            <p><b>100% Original Items</b> are available in our website</p>
          </div>
        </div>
        <div class="col-md-3 featured-box">
          <img src="{% static 'shop/img/imgp2.png' %}">
          <div class="featured-text">
            <p><b>Return Within 3 days</b> of reciving your order</p>
          </div>
        </div>
        <div class="col-md-3 featured-box">
          <img src="{% static 'shop/img/imgp3.png' %}">
          <div class="featured-text">
            <p><b>Get Free Delivery</b> order on more than 500 rupees</p>
          </div>
        </div>
        <div class="col-md-3 featured-box">
          <img src="{% static 'shop/img/imgp4.png' %}">
          <div class="featured-text">
            <p><b>Online Payment </b> options (card,net banking,UPI)</p>
          </div>
        </div>
      </div>
  </section>

  {% endblock %}
  {% block js %}
  <script src="{% static 'shop/JS/addprod.js'%}"></script>
  {% endblock %}
