{% extends 'shop/basic.html' %}
{% block title %} search:{{query}} {% endblock %}
{% block body %}
<style>
    .carousel-indicators .active {
      background-color: grey;
    }
  
    body .carousel-indicator li {
      background-color: blue;
    }
  
    body .carousel-indicators {
      bottom: 0;
    }
  
    body .carousel-control-prev-icon,
    body .carousel-control-next-icon {
      background-color:grey;
    }
  
    .carousel-control-next {
     right: -50px;
    }
  
    .carousel-control-prev {
      left: -50px;
     
    }
  
    body .no-padding {
      padding-left: 0;
      padding-right: 0;
    }
    
    .container h1
     {
         
         text-align: center;
         margin-top: 20px;
     }
     .card-body p
     {
        
         color:black;
         text-align: center;
     }
     .card img{
       transition: 1s;
       width: 140px;
       height: 90px;
     }
     .card img:hover
     {
       transform: scale(1.1);
     }
  .card-text
  {
    font-size: 14px;
  }
  .nav-item
  {
    border:green;
  }
  .carousel-inner
{
  margin-left: 55px;
}
.container hr
{
  margin-right: 200px;
}
.btn-abcd
{
  background-color: white;
}
  </style>
<div class="container">
{% if allprods|length < 1 %}
<h6>No results containing all your search terms were found.</h6>

<h6>Your query - <b>{{query}}</b> - did not match any documents.</h6>

Suggestions:
<ul>
<li>
Make sure that all words are spelled correctly.
</li>
Try different keywords.
<li>
Try more general keywords.
</li>
</ul>
{% else %}
<h1>Search Results:</h1>
<br>
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            
            {% for i in allprods %}
              <div class="container">
                <div class="shop-item">
                  <div class="row">
                  <div class="col-md-4">
                  <a href="/shop/prodview{{i.id}}" target="_blank">
                   
                    <img class="shop-item-image" src="/media/{{i.image}}">
                  </a>
                </div>
                <div class="col-md-4">
                  <div class="shop-item-details">
                    <span class="shop-item-title">{{i.product_name}}</span>
                    <br>
                    <span class="shop-item-price"><b>price - </b>₹{{i.price}}</span>
                    <br>
                    <span class="shop-item-disc">{{i.desc}}</span>
                    <br>
                    <button  class="btn btn-primary btn-abcd" type="button"> <a href="/shop/prodview{{i.id}}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                    </svg></a></button>
                  </div>
                  </div>
                  
                </div>
                <hr>
                </div>
              </div>
              {% if forloop.counter|divisibleby:100 and forloop.counter > 0 and not forloop.last %}
           
          </div>
          <div class="carousel-item">
            <div class="row">
            {% endif %}
          {% endfor %}
      </div>
    </div>
  </div>
   
  
</div>
{% endif %}
</div>
{% endblock %}
